<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="phucct_shipment" instance="Phucct\OrderApi\Observer\ShipmentApi" />
    </event>
</config>